.header {
  text-align: center;
  cursor: pointer;
  @media(hover: hover) and (pointer: fine) {
    &:hover {
      background-color: #83B5DA;
      border-radius: 15px;
    }
  }
  @media only screen and (max-width: 600px) {
    font-size: 1.75rem;
  }
}