.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media only screen and (max-width: 600px) {
    transform: translate(-50%, -50%) scale(0.5);
  }
  background-color: #E7E2AB;
  border: 2px solid #000;
  box-shadow: #83B5DA;
  width: 75vh;
  &__container {
    align-items: center;
    &__stats {
      width: fit-content !important;
    }
    &__freq {
      justify-content: center;
    }
  }
}