.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../../public/catan_beige.png);
  border: 2px solid #000;
  box-shadow: #b6a8bd;
  padding: 20px;
  &__container {
    text-align: center;
  }
}