.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media only screen and (max-width: 930px) {
    transform: translate(-50%, -50%) scale(.8);
  }
  background-color: #E7E2AB !important;
  border: 2px solid #000;
  box-shadow: #83B5DA;
}

.carousel {
  align-items: center;
}