html,
body {
  padding: 0;
  margin: 0;
  font-family: Luminari_Regular, Gill Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: url(../public/catan_backdrop.png) no-repeat center center fixed;
  background-size: cover;
}

@font-face {
  font-family: Luminari_Regular;
  src: url("../public/fonts/Luminari-Regular.woff");
}

.MuiButton-root {
  border: 1px solid #E7E2AB !important;
  font-family: Gill Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

.MuiDivider-root {
  background: black !important;
}
