.scenario-selection {
  font-family: Gill Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  width: 100% !important;
}

//.share-buttons {
//  @media only screen and (max-width: 600px) {
//    position: absolute;
//    top: auto;
//    bottom: 0;
//  }
//}

.scenario-home {
  width: 25vw;
  @media only screen and (max-width: 600px) {
    width: 75vw !important;
  }
  &__button {
    width: 100% !important;
  }
}