.token {
    width: 40px;
    height: 40px;
    clip-path: circle(50% at 50% 50%);
    background-image: url(../public/catan_beige.png);
    background-size: contain;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}
.token-text {
    position: relative;
    text-align: center;
    font-size: 18px;
    top: 5px;
}
.token-prob {
    position: relative;
    text-align: center;
    font-size: 12px;
}