.button-row {
  position: absolute;
  bottom: auto;
  width: 75vw !important;
  @media only screen and (max-width: 600px) {
    width: 100vw !important;
  }
  &__item {
    padding: 10px;
  }
  &__button {
    width: 100%;
  }
}