.button-row {
  position: absolute;
  bottom: auto;
  width: 75vw;
  @media only screen and (max-width: 600px) {
    width: 100vw;
  }
  &__item {
    padding: 10px;
  }
  &__button {
    font-family: Gill Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    width: 100%;
  }
}