.button-row {
  position: relative;
  margin-top: 35px;
  justify-content: center;
  padding-bottom: 35px;
  text-align: center;
  &__button {
    font-family: Gill Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }
}